In [ ]:
#Lists
#Question 1: Create a list named fruits containing "apple", "banana", and "cherry". Print the list.

In [1]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
#Question 2: Add "orange" to the fruits list and print the updated list.

In [2]:
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#Question 3: Reverse the fruits list and print the result.

In [3]:
fruits.reverse()
print(fruits)

['orange', 'cherry', 'banana', 'apple']

In [ ]:
#Question 4: Sort the following list numbers = [3, 1, 4, 1, 5, 9, 2, 6] in ascending order and print the result.

In [4]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6]
numbers.sort()
print(numbers)

[1, 1, 2, 3, 4, 5, 6, 9]

In [ ]:
#Question 5: Remove the last element from the fruits list and print the modified list.

In [6]:
fruits.pop()
fruits

['orange', 'cherry', 'banana']

In [ ]:
#Tuples
#Question 6: Create a tuple coordinates with elements (4, 5, 6) and print it.

In [7]:
elements = (4, 5, 6)
print(elements)

(4, 5, 6)

In [ ]:
#Question 7: Given the tuple tup = (1, 2, 3, 4, 5), slice it to only include the first three elements and print the result.

In [8]:
tup = (1, 2, 3, 4, 5)
tup[0:3]

(1, 2, 3)

In [ ]:
#Question 8: Try to change the first element of the coordinates tuple to 10. What happens?

In [9]:
tup[0]=10

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Question 9: Count how many times 1 appears in the tuple tup = (1, 2, 3, 1, 1, 4, 1) and print the result.

In [10]:
tup = (1, 2, 3, 1, 1, 4, 1)
tup.count(1)

4

In [ ]:
#Question 10: Convert the tuple tup = (1, 2, 3) into a list, add the element 4 to the list, then convert it back to a tuple and print it.

In [11]:
tup = (1, 2, 3)
list1 = list(tup)
list1.append(4)
tup = tuple(list1)
print(tup)

(1, 2, 3, 4)

In [ ]:
#Sets
#Question 11: Create a set s1 with elements 1, 2, 3, and another set s2 with elements 3, 4, 5. Print the union of these two sets.

In [12]:
s1 = {1, 3, 4}
s2 = {3, 4, 5}
print(s1 | s2)
print(s1.union(s2))

{1, 3, 4, 5}
{1, 3, 4, 5}

In [ ]:
#Question 12: Find the intersection of s1 and s2 and print the result.

In [13]:
s1.intersection(s2)

{3, 4}

In [ ]:
#Question 13: Add element 6 to s1 and print the updated set.

In [15]:
s1.add(6)

In [16]:
s1

{1, 3, 4, 6}

In [ ]:
#Question 14: Try to add duplicate element 3 to s1. What happens? Print s1 to verify.

In [17]:
s1.add(3)
s1

{1, 3, 4, 6}

In [ ]:
#Question 15: Remove element 2 from s1 and print the updated set. Handle the case where the element might not exist.

In [18]:
s1.discard(2)

In [19]:
s1

{1, 3, 4, 6}

In [ ]:
#Dictionaries
#Question 16: Create a dictionary person with keys "name", "age", and "city" and corresponding values "Alice", 30, and "New York". Print the dictionary.

In [20]:
person = {"name": "Alice",
          "age": 30,
          "City": "New York",}
print(person)

{'name': 'Alice', 'age': 30, 'City': 'New York'}

In [ ]:
#Question 17: Add a new key-value pair "gender" with value "female" to the person dictionary and print the updated dictionary.

In [21]:
person['gender']="female"
person

{'name': 'Alice', 'age': 30, 'City': 'New York', 'gender': 'female'}

In [ ]:
#Question 18: Update the "age" of the person to 31 and print the updated dictionary.

In [22]:
person['age'] = 31
person

{'name': 'Alice', 'age': 31, 'City': 'New York', 'gender': 'female'}

In [ ]:
#Question 19: Remove the "city" key from the person dictionary using the pop method and print the updated dictionary.

In [24]:
person.pop("City")
person

{'name': 'Alice', 'age': 31, 'gender': 'female'}

In [26]:
#Question 20: Extract "Mumbai" from below collection

list1 = {"data":[1,2,"prashant","python",[10,20,30,40,50],{"Maharashtra":["Mumbai","Chennai","Delhi","Kolkata"]}]}

In [30]:
list1['data'][5]['Maharashtra'][0]

'Mumbai'