In [ ]:
#For Loop
#
# This loop acts as an Iterator in Python
#
# Syntax:
#
# for element in collectionObject:
#     action on the element

In [1]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [2]:
# Accessing each element in the collection object

for element in list1:
  print(element)

1
2
3
4
5
6
7
8
9
10

In [4]:
#Multiply each element by 2

resultSet = []

for element in list1:
  resultSet.append(element * 2)

print(resultSet)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
#Extract even numbers from list

resultSet = []

for element in list1:
  if element % 2 == 0:
    resultSet.append(element)

print(resultSet)

[2, 4, 6, 8, 10]

In [ ]:
#Extract odd numbers from list

In [12]:
#String Handling

str1 = "Welcome to Python"

for element in str1:
  print(element)

W
e
l
c
o
m
e

t
o

P
y
t
h
o
n

In [13]:
#Identify how many number of times the character 'e' is repeated in the given str1 using for loop

In [14]:
#For loop in tuple

tup1 = (1,2,3,4,5)

for element in tup1:
  print(element)

1
2
3
4
5

In [15]:
#For loop in Dictionary

d = {'k1':1, 'k2':2, 'k3':3}

for element in d:
  print(element)

k1
k2
k3

In [16]:
#In dictionary
# To access keys ------- keys()
# To access values ----- values()
# To access k,v pair --- items()

In [17]:
for element in d.keys():
  print(element)

k1
k2
k3

In [18]:
for element in d.values():
  print(element)

1
2
3

In [19]:
for element in d.items():
  print(element)

('k1', 1)
('k2', 2)
('k3', 3)

In [20]:
for k,v in d.items():
  print(f"Key is {k} and Value is {v}")

Key is k1 and Value is 1
Key is k2 and Value is 2
Key is k3 and Value is 3