In [1]:
# While loop
#
# Syntax
#
# initializer = 0
# while testCondition:
#      execute block
#      initializer += 1
#

In [2]:
num = 1

while num <= 10:
  print(num)
  num = num + 1

1
2
3
4
5
6
7
8
9
10

In [4]:
list1 = [1,2,3,4,5,6,7,8,9,10]
len(list1)

10

In [5]:
list1 = [1,2,3,4,5,6,7,8,9,10]

listLength = len(list1)
listIndex = 0

while listIndex < listLength:
  print(list1[listIndex])
  listIndex += 1

1
2
3
4
5
6
7
8
9
10

In [6]:
#Extract even numbers from list1

list1 = [1,2,3,4,5,6,7,8,9,10]

listLength = len(list1)
listIndex = 0

while listIndex < listLength:
  if list1[listIndex] % 2 == 0:
    print(list1[listIndex])
  listIndex += 1

2
4
6
8
10

In [ ]:
#Extract odd numbers from list1

In [ ]:
#
# break, continue, pass ---------- Keywords
#
# a. break ----------- Breaking out of the loop based on some condition
# b. continue -------- Goes to the top of the loop
# c. pass ------------ Do nothing
#

In [7]:
#Example of break

#Exit the loop if num = 5
num = 1

while num <= 10:
  if num == 5:
    break
  print(num)
  num = num + 1

1
2
3
4

In [8]:
#Example of  continue

#dont print 5 if num == 5
num = 1

while num <= 10:
  if num == 5:
    num += 1
    continue
  print(num)
  num = num + 1

1
2
3
4
6
7
8
9
10